 body{
   min-width: 800px;
   width: 80%;
   margin: 0 auto;
   padding: 0 50px 100px 50px;
   border: 6px double yellow;
   background: radial-gradient(white,rgb(156, 149, 180));
   }

html{
  background-color: rgb(184, 236, 184);
}

 ul.js li{
  font-size: 30px;
 } 

 ul.nf li{
  font-size: 30px;
}

ul.ho li{
  font-size: 30px;
}

h1#js{
padding: 0 10px;
border-left: solid 10px blue;
text-shadow: 3px 3px 3px gray;
font-size: 45px;
}

h1#nf{
  padding: 0 10px;
  border-left: solid 10px blue;
  text-shadow: 3px 3px 3px gray;
  font-size: 45px;
}

h1#ho{
  padding: 0 10px;
  border-left: solid 10px blue;
  text-shadow: 3px 3px 3px gray;
  font-size: 45px;
}