div#menu a:nth-child(2){
  color: gray;
}

section.about{
  text-align: center;
  font-size: 3vw; 
  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
div.about1{
  padding-bottom: 200px;
  padding-top: 150px;
}
div.about1 img{
  width: 50%;
}
div.about2{
  padding-top: 150px;
  padding-bottom: 200px;
}
 div.about2 ul li{
  display: inline;
  text-align: center;
}


div.about3{
  padding: 200px 0;
}
div.about4{
  padding: 200px 0;
}

.about ul{
  text-align: center;
  list-style: none;
  padding: 0;
}
.about ul li{
  display: inline;
  padding: 10px;
}

p.syoukai{
  margin: 50px 0;
}
p.syoukai:first-child{
  padding-top: 50px;
  margin-top: 0;
}
h2.syoukai{
  margin-top: 200px;
}

ul.last{
  margin-bottom: 100px;
}
@media screen and (max-width: 799px){
  section.about{
    font-size: 5vw;
  }
  div.about1 img{
    width: 100%;
  }
}