body{
  display: block;
}
header{
  background-size: cover;
  width: 100%;
  display: none;
}

p#target_msg_box{
  text-align: center;
  color: black;
  margin-top: 100px;
  font-size: 150px;
  display: none;
}

#nb{
  color: white;
  margin: 0;
  text-align: center;
  display: none;
}

div#menu a:first-child{
  color: gray;
}
div#menu a:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

ul.nav_hun li:first-child a{
  text-decoration: none;
  color: gray;
  cursor: default;
}
@media screen and (max-width: 799px){
  header{
  height: 100vh;
  }
  p#nb{
    padding-top: 100px!important;
  }
}