body{
  display: block;
}
header{
  background: url(../images/header.jpeg) no-repeat;
  background-size: cover;
  width: 100%;
  display: none;
}

p#target_msg_box{
  text-align: center;
  color: black;
  margin-top: 100px;
  font-size: 150px;
  display: none;
}

#nb{
  color: white;
  margin: 0;
  text-align: center;
  font-size: 100px;
  display: none;
}

div#menu a:first-child{
  color: gray;
}
div#menu a:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* section.top{
  display: none;
}
section.top img{
  width: 50%;
  height: 50%;
} */